// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
}

body {
  height: 100%;
  background: image-url('bg.jpg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.white_bg {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem;
}

.input-field label {
  color: #B55656 !important;
}

.input-field input[type=url]:focus + label {
  color: red !important;
}

.input-field input[type=url]:focus {
  border-bottom: 1px solid red !important;
  box-shadow: 0 1px 0 0 #B55656 !important;
}
